@font-face {
  font-family: 'enochianplain';
  src: url('./font/enochian-webfont.woff2') format('woff2'),
     url('./font/enochian-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.enochianFont {
  font-family: enochianplain !important;
  direction: rtl;
  unicode-bidi: bidi-override;
}
